<a href="https://colab.research.google.com/github/alualex/DataSciencePractices/blob/master/One_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Example data with categorical variables
data = pd.DataFrame({'Gender': ['Male', 'Female', 'Other', 'Male', 'Other'],
                     'Marital_Status': ['Married', 'Single', 'Single', 'Divorced', 'Married']})

In [3]:
# Perform one-hot encoding using pandas get_dummies function
data_encoded = pd.get_dummies(data)

In [4]:
print("Original data:\n", data)
print("\nEncoded data:\n", data_encoded)

Original data:
    Gender Marital_Status
0    Male        Married
1  Female         Single
2   Other         Single
3    Male       Divorced
4   Other        Married

Encoded data:
    Gender_Female  Gender_Male  Gender_Other  Marital_Status_Divorced  \
0              0            1             0                        0
1              1            0             0                        0
2              0            0             1                        0
3              0            1             0                        1
4              0            0             1                        0

   Marital_Status_Married  Marital_Status_Single
0                       1                      0
1                       0                      1
2                       0                      1
3                       0                      0
4                       1                      0